h1{
    font-size: 40px;
}

table{
    width: 600px;
    border-spacing: 0;
    border: 1px solid lightgray;
  
    
}
.two-button{
    border: 2px solid black;
    width: 140px;
    height: 50px;
    
}
button:hover {
    background-color: lightblue;
}

#tbl tr{
    height: 20px;
}

#tbl tr th, #tbl tr td{
    text-align: left;
    border-bottom: 1px solid lightgrey;
}

#tbl tr:last-child td{
    border: none;
}